<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carre de couleurs</title>
</head>
<body>
    <table>
        {% for key , value in result.items() %}
        <tr>
            {% for nb in value %}
                <th bgcolor=' {{ nb[1] }} '>{{ nb[0] }}</th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>